
@import "../index.css";

.App-header{
  width: 100%;
  height: 95px;
  background-color: var(--white_color);
  display: flex;
}

.content-center{
  width: 80%;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 
.App-header__logo-img{
  width: 100%;
  height: 100%;
}

.App-header__icon{
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.App-header__icon i{
  font-size: 3rem;
  font-weight: 500;
  color: var(--main_color);
}

.App-header__menu-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.App-header__menu-item{
  margin: 5px 10px;
  position: relative;
}

.App-header__menu-item::after{
  content: '';
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--main_color);
  display: none;
}

.App-header__menu-item--active.App-header__menu-item::after{
  display: block;
}

.App-header__menu-item__link{
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--black_color);
}

.App-header__right-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.App-header__right-list__item{
  padding: 5px 10px;
}

.App-header__right-list__item-link{
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--black_color);
}

/* ================ modal ======================= */

.modal{
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  display: none;
}


.modal--show{
  display: block;
}


.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  animation: out linear .2s;
}


@keyframes out {
  from{
    opacity: .7;
  }
  to{
    opacity: 1;
  }
}

.modal-content{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 300px;
  height: 100vh;
  background-color: var(--white_color);
  animation: throw linear .2s;
}

@keyframes throw {
  from{
    transform: translateX(200px);
  }
  to{
    transform: translateX(0);
  }
}


.modal-content__close-btn{
  float: right;
  margin: 20px;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.modal-content-list{
  list-style: none;
  margin-top: 50px;
}

.modal-content-item{
  padding: 20px 50px;
}


.modal-content-item__link{
  position: relative;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black_color);
  transition: color linear .1s;
}

.modal-content-item__link:hover{
  color: var(--gray_color_3);
}



.modal-content-item__link::before{
  position: absolute;
  content: '';
  top: 25px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main_color);
  display: none;
}

.modal-content-item--active .modal-content-item__link::before{
  display: block;
}

/* .modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  animation: fadeIn linear .1s;
  display: none;
}

.modal--show{
  display: block;
}

.modal__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
} */



/* moblie */
@media only screen and (max-width: 46.1875em){
  .App-header{
    height: 65px;
  }
  .modal-content{
    width: 200px;
  }
}


@media only screen and (max-width: 63.9375em){

  .App-header__logo-img{
    width: 80%;
    height: 80%;
  }

  .App-header__center{
    display: none;
  }

  .App-header__right{
    display: none;
  }

  .App-header__icon{
    display: block;
  }

}

/* tablet */
@media only screen and (min-width: 46.25em ) and (max-width: 63.9375em){
  .App-header{
    height: 80px;
  }
}